{% extends 'base.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}

    {{ form_start(form, {
        'attr': {
            'class': 'col-lg-5' 
            }
        })
    }}
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    {# pass a string argument to get only the messages of that type #}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-notice">
            {{ message }}
        </div>
    {% endfor %}

    {# pass an array argument to get the messages of those types  #}
    {% for label, messages in app.flashes(['warning', 'error']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_end(form) }}
{% endblock %}