    {{ form_start(form, {
        'attr': {
            'action': path('app_reset_password', {'token': app.request.get('token')}),
            'onsubmit': "return page.post(this, 'central-content'); return false;",
            'class': 'col-lg-5' 
            }
        })
    }}
    <h1 class="h3 mb-3 font-weight-normal">{% trans %}page.forgotten_password.title{% endtrans %}</h1>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-notice">
            {{ message }}
        </div>
    {% endfor %}

    {% for label, messages in app.flashes(['warning', 'error', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_end(form) }}
