{# /templates/puzzles/edit_modal.html.twig #}

{% block body %}
        <div class="container">
            <div class="row">
                {{ form_start(form, {
                    'attr': {
                        'onsubmit': "return page.post2(this); return false;",
                        'class': 'col-lg-5'
                        }
                    })
                }}
                    {% for locale, title in puzzle.getLocaleTitles %}
                        <label for="puzzle_title_{{ locale }}">Title{% if puzzle.getLocaleTitles|length > 1 %} [{{ locale }}]{% endif %}</label>
                        <input type="text" class="form-control" name="title[{{ locale }}]" id="puzzle_title_{{ locale }}" value="{{ title }}" />
                    {% endfor %}
                {{ form_end(form) }}
            </div>
        </div>
{% endblock %}
