{% set player = app.session.get('player') %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('fnt') }}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('bst') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking[app.request.locale] }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ ga_tracking[app.request.locale] }}');
        </script>
    </head>
    <body>
        <a name="top"></a>
        
        <div style="height: 100px">
            <!-- <img src="{{ asset('build/img/logo_' ~ app.request.locale ~ '.png') }}" alt="" /> -->
            <div class="site-title"><a href="{{ path('homepage') }}" onclick="return page.call('/{% trans %}page.homepage.hash{% endtrans %}'); return false;">{% trans %}main.title{% endtrans %}</a></div>
        </div>
        <div id="top-navbar">
          {% include 'top-navbar.html.twig' %}        
        </div>
        <div class="container" id="central-content" style="height: auto;">
            {% block menu %}{% endblock %}
            {% block body %}{% endblock %}
    		{% block editPuzzle %}{%endblock%}
        </div>
        <nav class="navbar navbar-expand fixed-bottom navbar-light bg-light" id="bot-navbar">
          <div class="mx-auto justify-content-md-center">
            <ul class="navbar-nav col-md-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Terms of Use</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Legal Notice</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="modal fade" id="puzzleEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-title">Demo</h4>
                    </div>
                    <div id="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>