{% set player = app.session.get('player') %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('fnt') }}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('bst') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking[app.request.locale] }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ ga_tracking[app.request.locale] }}');
        </script>
    </head>
    <body>
        <a name="top"></a>
        
        <div style="height: 100px">
            <!-- <img src="{{ asset('build/img/logo_' ~ app.request.locale ~ '.png') }}" alt="" /> -->
            <div class="site-title"><a href="{{ path('homepage') }}" onclick="return page.call('/{% trans %}page.homepage.hash{% endtrans %}'); return false;">{% trans %}main.title{% endtrans %}</a></div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="top-navbar">
          <a class="navbar-brand main" href="/">{% trans %}main.title{% endtrans %}</a>
          <span class="navbar-brand secondary"></span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item{% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('homepage') %} active{% endif %}">
                <a class="nav-link menu-item" href="{{ path('homepage') }}" onclick="return page.call('/{% trans %}page.homepage.hash{% endtrans %}'); return false;">{% trans %}Home{% endtrans %}<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item{% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('your_puzzles_list') %} active{% endif %}">
                <a class="nav-link" href="{{ path('your_puzzles_list') }}" onclick="return page.call('/{% trans %}page.yourpuzzles.list.hash{% endtrans %}'); return false;">{% trans %}Your Puzzles{% endtrans %}</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
            <!--<form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>-->
            <ul class="navbar-nav ml-auto">
{% if app.user %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle{% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('app_edit_account') %} active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>{{ app.user.username }}&nbsp;</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item{% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('app_edit_account') %} active{% endif %}" href="{{ path('app_edit_account') }}">{% trans %}player.update.title{% endtrans %}</a>
                    <a class="dropdown-item" href="{{ path('app_logout') }}"><span class="glyphicon glyphicon-log-out"></span>{% trans %}player.sign_out.title{% endtrans %}</a>
                </div>
{% else %}
              <li class="nav-item{% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('app_register') %} active{% endif %}">
                <a class="nav-link" href="{{ path('app_register') }}" onclick="return page.call('/{% trans %}page.register.hash{% endtrans %}'); return false;"><span class="glyphicon glyphicon-user"></span>{% trans %}player.create.title{% endtrans %}</a>
              </li>
              <li class="nav-item{% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('app_login') %} active{% endif %}">
                <a class="nav-link" href="{{ path('app_login') }}"><span class="glyphicon glyphicon-log-in"></span>{% trans %}player.sign_in.title{% endtrans %}</a>
              </li>
{% endif %}
              <li class="nav-item dropdown lang-select">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag flag-{{ app.request.locale }}"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for lang, version in locale_versions %}
                    <a class="dropdown-item{% if lang == app.request.locale %} active{% endif %}" href="{{ version.url }}" title="{{ version.label }}"><span class="flag flag-{{ lang }}"></span> {{ version.label }}</a>
                {% endfor %}
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container" id="central-content" style="height: auto;">
            {% block menu %}{% endblock %}
            {% block body %}{% endblock %}
    		{% block editPuzzle %}{%endblock%}
        </div>
        <nav class="navbar navbar-expand fixed-bottom navbar-light bg-light" id="bot-navbar">
          <div class="mx-auto justify-content-md-center">
            <ul class="navbar-nav col-md-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Terms of Use</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Legal Notice</a>
              </li>
            </ul>
          </div>
        </nav>
    </body>
</html>